{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Березка</h1>
    <p class="lead">Магазин Березка - все самое свежее!</p>
    <a class="p-2 btn btn-outline-primary" href="product/create">Добавить продукт</a>
</div>

<div class="container">
    <div class="row text-center">
        {% for category in category_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <a href="category/{{ category.pk }}"><h4 class="my-0 font-weight-normal">{{ category.name }}</h4></a>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{% limit_text_100 category.description %}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
